.rot{
  height: 100vh;
  width: 100vw;
}

.App header .row{
  height: 12vh;
  padding-top: 2vh;
}

.main{
  height: 88vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.div1{
  width: 50vw;
  height: 50vh;
  border: 1px solid black;
}

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body{
  font-family: "Open Sans";
  /* overflow-x: hidden; */
  /* background-color: red; */

}

p{
  margin: 0px;
}
.cat-animationNow{
  background-color: #822761;
}
.cat-aotearoa{
  background-color: #0094B5;
}
.cat-bigNights{
  background-color: #E52B13;
}
.cat-forAllAges{
  background-color: #ECA043;
}
.cat-framingReality{
  background-color: #EA590B;
}
.cat-fresh{
  background-color: #FECF44;
}
.cat-incrediblyStrange{
  background-color: #D1C000;
}
.cat-liveEvents{
  background-color: #010173;
}
.cat-musicAndDance{
  background-color: #D994BD;
}
.cat-newsAndFakeNews{
  background-color: #6591CB;
}
.cat-portraitOfAnArtist{
  background-color: #449E89;
}
.cat-world{
  background-color: #49B382;
}
.active{
  border-bottom: 8px #0797B4 solid;
}
.inactive{
  border-bottom: 1px #EBEBEB solid;
}
.headerText{
  font-family: "Oswald";
  font-size: 2em;
}

.letter{
  font-family: "Oswald";
  color: #757575;
  font-size: 1.8em;
  padding: 1em 0em 0.5em 0em;
  width: 25%;
  border-bottom: 5px #757575 solid;
  margin: auto;
  margin-bottom: 2em;
}


/* #container{
  height: 100vh;
} */

.map{
  background-color: #ced6e0;
  height: 88vh!important;
  width: 100%;
}

.row{
  margin-right: 0;
}

.film-image{
  background-size: cover;
  background-position: center;
  height: 15em;
  width: 100%;
}
.film-blurb{
  background-color: #0797B4;
  color: white;
  font-size: 0.8em;
  padding: 2em 1em 1em 1em;
}

.film-title{
  font-family: "Oswald";
  margin-top: 1em;
}
.film-director{
  font-size: 0.8em;
}
.film-btns{
  margin-top: 3em;
}
.btnFill{
  background-color: #0797B4;
  border: #0797B4 1px solid;
  color: white;
  font-size: 0.6em;
  padding: 1.5em 0em;
  width: 18em;
  margin-right: 1em;
}
.btnOutline{
  background-color: white;
  border: #0797B4 1px solid;
  color: #0797B4;
  font-size: 0.6em;
  padding: 1.5em 0em;
  width: 18em;
}
.screeningsHeader{
  font-size: 1.2em;
  margin-top: 2em;
  border-bottom: 1px solid #0797B4;
  padding-bottom: 0.5em;
}
.screening-dates{
  width: 500px;
  overflow-x: scroll;
}
.screenings{
  width: 100%;
}
.date-active{
  background-color: #0797B4;
  border: #0797B4 1px solid;
  color: white;
  font-size: 0.6em;
  font-size: 1em;
  width: 1em;
  margin: 0em 0.1em
}
.date-inactive{
  background-color: white;
  border: #0797B4 1px solid;
  color: #0797B4;
  font-size: 1em;
  width: 1em;
  margin: 0em 0.1em
}
.date-day{
  margin-bottom: 0px;
}
.date-number{
  margin-bottom: 0px;
  font-size: 1.5em
}
.screening-timetable{
  /* padding: 1em 4em; */
  width: 100%;
}
.film-screeningInfo{
  padding: 1.5em 0em 1em 0;
  border-bottom: 1px #EBEBEB solid;
}
.film-time h6{
  font-size: 0.8em;
  margin-left: 3em;
}
.film-cinema h6{
  font-size: 0.8em;
  margin-right: 3em;
}

.filmListItem{
  margin: 1em 0em;
}

.filmListItem-img{
  background-size: cover;
  background-position: center;
  height: 10em;
  width: 10em;
}

.filmListItem-category{
  font-size: 0.8em;
  color: white;
  padding: 0.6em 0em 0.6em 0em;
  bottom: 0px;
}
.filmListItem-title{
  font-size: 1.2em;
  font-family: "Oswald"
}
.filmListItem-director{
  font-size: 1em;
}
.filmListItem-description{
  font-size: 0.7em;
  max-height: 8.9em;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cinema{
  width: 100%;
}

/* #cinemaMap{
  height: 500px;
  background-color: #ced6e0;
  width: 50%;
  padding: 0px;
} */

#cinemaInfo{
  padding: 1em;
  width: 50%;
}
.cinemaInfo-header{
  font-family: "Oswald";
  font-size: 1.2em;
  padding-top: 1em;
}

.cinemaInfo-text{
  font-size: 0.8em;
}
.cinemaInfo-days{
  padding-right: 0em;
}
.cinemaInfo-times{
  padding-left: 0em;
  padding-right: 1em;
}
.film-timeTitleDirector{
  padding: 0px;
}
.screeningText{
  font-size: 0.9em;
  padding-left: 3em;
}
.screening-time{
  padding-bottom: 1em;
}
.film-category{
  padding-right: 2em;
}
